

header{
    display: flex;
    background-color: #8a2b06;
    height: 90px;
    justify-content: space-between;
    color:white;
    position: relative;
}

header h1{
    margin-left: 35px;
}

.buttons{
    display: flex;   
    margin-right: 20px;
}

