
.imgContainer{
    width: 100%;
    height: 300px;
    text-align: center;
}
.itemWrapper{
    width: 100%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.productImg{
    width: 80%;
    height: 90%;
    padding: 20px;

}

.productData{
    margin:0 10px;
    padding: 20px;
}

.title{
    height: 40px;
}

.title a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color:black;
}

.category li{
    color: grey;
}

.price li{
    text-decoration: none;
    list-style: none;
  
    font-weight: 600;
    color:black;
}

@media (max-width:600px) {
    .itemWrapper{
    width: 80%;
    }
}

@media (max-width:900px) {
    .itemWrapper{
        width: 90%;
        }
}